@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
 body {
    margin:0;
    padding:0;
    background-color:#C1272D;
}
/* don't mind this*/
 #wrapper {
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -40px;
    margin-left: -175px;
}
/* OK, here we go */
 .happySelectContainer {
    position: relative;
    border: 2px solid #3B0B0E;
    border-radius: 15px;
    background-color: #FBB03B;
    display:inline-block;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .50), inset 0 0px 0 #FBD8A1;
}
.happySelectContainer select {
    position: relative;
    font-size:50px;
    font-family:'Leckerli One', cursive;
    font-weight:900;
    color:#3B0B0E;
    height:80px;
    padding: 5px 80px 5px 5px;
    margin: 0;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow:'';
    -moz-padding-end: 71px;
    background: transparent;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}
.happySelectContainer select::-ms-expand {
    display: none;
    /*for IE*/
}
.happySelectContainer .arrow {
    position: absolute;
    background: url(http://s22.postimg.org/51zf7cl1d/arrow.png) no-repeat right;
    background-size:71px 80px;
    height: 80px;
    width: 71px;
    right: 0px;
}
:focus {
    outline: none;
}
select{
 margin: 0 15px 0 0;
 }
